*{
    filter: grayscale(100%);
}

header,
footer,
nav,
.fixed-logo{
    display: none;
}

[type="submit"],
[type="reset"]{
    display: none;
}

.multimedia__content__videos,
.multimedia__content__audio{
    display: none;
}

.multimedia__content__images figcaption,
.multimedia__content__images img{
    max-width: none !important;
}

/*FORM*/
fieldset{
    padding: 9px;
}

legend{
    padding: 0 5px;
}

.form > *{
    padding: 10px 0;
}

@media print and (min-width: 480px) {
    .form,
    .form__top,
    .form__bottom{
        display: flex
    }

    .form{
        flex-direction: column;
        align-items: center;
    }

    textarea{
        width: 100%;
        max-width: 100%;
    }
}